/*noinspection ALL*/
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header__logo {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.4px;
    font-family: "Avenir Next";
}

.header__logo__link {
    text-decoration: none;
    color: #343434;
}

.header__nav-bar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-top: 1.3px solid #e6e6e6;
    border-bottom: 1.3px solid #e6e6e6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 260px;
    padding-right: 260px;
    margin-bottom: 0;
    margin-top: 0;
}

.header__nav-bar__item:hover .header__nav-bar__item-link {
    color: #C1BB62;
}

.header__nav-bar__item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    letter-spacing: 1.2px;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    height: 100%;
}
